PORT=3004
NODE_ENV=development

# Auth
JWT_SECRET=69b59fbeaf7e03908716d52df38b58f2b81a3365826645fe842834e755e64aec9acec223096d026ce65a3ea28dec7caf

# Database configuration
DB_HOST=192.168.80.7
DB_PORT=3306        
DB_USER=Khos
DB_PASSWORD=KH10866@zjkowfh
DB_NAME=hosoffice

# LINE Messaging API Configuration
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
LINE_CHANNEL_SECRET=your_line_channel_secret_here
